{% extends "base.html" %}
{% block content %}
<section class=" mt-2 ">
  <div class="container">
    <form action="" method="post">
      {{form.hidden_tag()}}
      <fieldset class="form-group">
        <legend class="border-bottom">Registration Form (Authorized Staff Only)</legend>
        <div class="form-group">
          {{form.username.label(class="form-control-label")}}
          {% if form.username.errors %}
          {{form.username(class="form-control-label is-invalid")}}
          <div class="invalid=feedback">
            {% for error in form.username.errors %}
            <span> invalid username</span>
            {% endfor %}
          </div>
          {% else %}
          {{form.username(class="form-control")}}
          {% endif%}

        </div>
        <div class="form-group">
          {{form.email.label(class="form-control-label")}}
          {{form.email(class="form-control")}}
          {% if form.email.errors %}

          <div class="invalid=feedback">
            {% for error in form.email.errors %}
            <span class="text-warning"> {{error}}</span>
            {% endfor %}
          </div>


          {% endif%}
        </div>
        <div class="form-group">
          {{form.position.label(class="form-control-label")}}
          {% if form.position.errors %}
          <div>
            {{form.position(class="form-control-label is-invalid")}}
          </div>
          <div class="invalid=feedback">
            {% for error in form.position.errors %}
            <span> {{error}}</span>
            {% endfor %}
          </div>
          {% else %}
          {{form.position(class="form-control")}}
          {% endif%}
        </div>
        <div class="form-group">
          {{form.phone.label(class="form-control-label")}}
          {% if form.phone.errors %}
          <div>
            {{form.phone(class="form-control-label is-invalid")}}
          </div>
          <div class="invalid=feedback">
            {% for error in form.phone.errors %}
            <span> {{error}}</span>
            {% endfor %}
          </div>
          {% else %}
          {{form.phone(class="form-control")}}
          {% endif%}
        </div>
        <div class="form-group">
          {{form.password.label(class="form-control-label")}}
          {% if form.password.errors %}
          <div>
            {{form.password(class="form-control-label is-invalid")}}
          </div>
          <div class="invalid=feedback">
            {% for error in form.password.errors %}
            <span> {{error}}</span>
            {% endfor %}
          </div>
          {% else %}
          {{form.password(class="form-control")}}
          {% endif%}
        </div>
        <div class="form-group">
          {{form.confirm_password.label(class="form-control-label")}}
          {{form.confirm_password(class="form-control")}}
          {% if form.confirm_password.errors %}

          <div class="invalid=feedback">
            {% for error in form.confirm_password.errors %}
            <span class="text-warning"> {{error}}</span>
            {% endfor %}
          </div>


          {% endif%}
        </div>
        <div class="form-group mt-3">
          {{form.submit(class="btn btn-primary")}}
        </div>
      </fieldset>

    </form>
  </div>
</section>

{% endblock content%}